<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ global.request.basepath }}/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ global.request.basepath }}/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ global.request.basepath }}/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="{{ global.request.basepath }}/assets/favicons/manifest.json">
        <link rel="mask-icon" href="{{ global.request.basepath }}/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ global.request.basepath }}/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ global.request.basepath }}/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ global.request.basepath }}/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="{{ global.request.basepath }}/assets/favicons/manifest.json">
        <link rel="mask-icon" href="{{ global.request.basepath }}/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
        <link rel="stylesheet" href="{{ global.request.basepath }}/assets/style/main.css">
    </head>
    <body>

    <header class="navbar">
      <nav class="nav">
        <ul>
          <li class="category">
            <a class="home" href="{{ url('home') }}">Cy.</a>
          </li>
          <li class="category">
            <a class="graphism" href="{{ url('graphisme', {category: "graphisme"}) }}">Graphisme</a>
              <ul>
                <li class="serie"><a href="{{ url('graphisme/hogwart', {category: "graphisme", serie: "hogwart"}) }}">Hogwart</a></li>
                <li class="serie"><a href="{{ url('graphisme/mermaids', {category: "graphisme", serie: "mermaids"}) }}">Mermaids</a></li>
              </ul>
            </li>
            <li class="category">
              <a class="serigraphy" href="{{ url('serigraphie', {category: "serigraphie"}) }}">Sérigraphie</a>
              <ul>
                <li class="serie"><a class="graphism" href="{{ url('serigraphie/endormies', {category: "serigraphie", serie: "endormies"}) }}">Les endormies</a></li>
              </ul>
            </li>
            <li class="category">
              <a class="pencil" href="{{ url('crayon', {category: "crayon"}) }}">Crayon</a>
              <ul>
                <li class="serie"><a href="{{ url('crayon/oiseaux', {category: "crayon", serie: "oiseaux"}) }}">Les oiseaux</a></li>
                <li class="serie"><a href="{{ url('crayon/fleuries', {category: "crayon", serie: "fleuries"}) }}">Fleuries</a></li>
                <li class="serie"><a href="{{ url('crayon/hogwart', {category: "crayon", serie: "hogwart"}) }}">Hogwart</a></li>
                <li class="serie"><a href="{{ url('crayon/endormies', {category: "crayon", serie: "endormies"}) }}">Les endormies</a></li>
              </ul>
            </li>
            <li class="category">
              <a class="series" href="{{ url('series', {category: "series"}) }}">Series</a>
              <ul>
                <li class="serie"><a href="{{ url('series/endormies', {category: "series", serie: "endormies"}) }}">Les endormies</a></li>
                <li class="serie"><a href="{{ url('series/hogwart', {category: "series", serie: "hogwart"}) }}">Hogwart</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
