{{ include('partials/header.twig') }}

<h2>{{ artwork.name }}</h2>
<img src="{{ global.request.basepath }}/assets/images/{{ artwork.image }}">
<p>{{ artwork.serie }}</p>
<p>{{ artwork.description }}</p>
<p>{{ artwork.width }}</p>


{{ include('partials/footer.twig') }}
