<!-- Include -->
{{ include('partials/header.twig') }}

<!-- Artwork container -->
<section class="container">

  <div class="artwork-part artwork-picture">
    <img src="{{ global.request.basepath }}/assets/images/{{ artwork.image }}">
  </div>

  <div class="artwork-part artwork-informations">

    <h1>{{ artwork.name }}</h1>
    <p>{{ artwork.serie }}</p>
    <p>{{ artwork.description }}</p>
    <p class="artwork-part-artwork-width">{{ artwork.width }}</p>

    <div class="artwork-button">
      <a href="{{ url('home') }}">Retour à l'accueil</a>
    </div>

  </div>

</section>

<!-- Include -->
{{ include('partials/footer.twig') }}
