<!-- Include -->
{{ include('partials/header.twig') }}

<!-- Category container -->
<div class="category-container">

  {% for _artwork in artworks %}

    <a href="{{ url('artwork', {artwork: _artwork.id_artwork}) }}">
      <img src="{{ global.request.basepath }}/assets/images/{{ _artwork.image }}" alt="artworks" class="category-img">
    </a>

  {% endfor %}

</div>

<!-- Include -->
{{ include('partials/footer.twig') }}
